* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
}

@media screen and (max-width: 450px) {
  header {
    border-bottom: solid 2px #acacac;
  }
  .container__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__position {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: rgba(212, 209, 209, 0.287);
  }
  .position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 80px;
    padding: 10px;
  }
  .fa-map-marker-alt {
    font-size: 17px;
    padding: 0.1em;
    margin: 4px 5px;
  }
  .position__town {
    font-size: 18px;
    padding: 0.3em;
  }
  .container__announce {
    background-color: #f6fdff;
  }
  .announce__reservation {
    text-align: center;
    margin: 45px;
  }
  .announce__pub {
    text-align: center;
    margin: 30px;
    font-size: 17px;
    padding-top: 1px;
  }
  .explorer {
    margin: auto;
    width: 70%;
  }
  .explorer__btn {
    background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
    background: linear-gradient(to top left, #9356dc, #ff79da);
    border-radius: 50px;
    margin: 20px;
    padding: 15px;
    text-align: center;
  }
  .explorer__link {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
  }
  /*fonctionnement*/
  .container__function {
    margin: 50px 20px;
  }
  .container__function__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    background-color: #f3f2f2;
    -webkit-box-shadow: #cccccc 5px 5px 5px;
            box-shadow: #cccccc 5px 5px 5px;
    margin: 20px 0;
    padding: 20px;
  }
  .function__number {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    margin: -30px;
  }
  .fa__function {
    font-size: 1em;
    margin: 0 50px;
  }
  .function__title {
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
    margin: 0 -30px 0;
  }
  /* RESTAURANT */
  .title__restaurants {
    margin: 0 20px 20px;
    font-size: 1.3em;
  }
  .menu__restaurant {
    width: 90%;
    margin: 0 20px;
    border-radius: 15px;
    -webkit-box-shadow: 2px  5px #9356dc;
            box-shadow: 2px  5px #9356dc;
  }
  .container__img__resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .container__img__resto .new__plat {
    background-color: #99E2D0;
    color: #1b5a4a;
    position: absolute;
    text-align: center;
    margin: 20px 250px;
    padding: 2px;
  }
  .img__plat {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
}
/*# sourceMappingURL=style.css.map */